<!DOCTYPE html>
<html>
    <head>
        <title>Cube Level Midnight</title>
        <link href="/css/styles.css" type="text/css" rel="stylesheet" />
    </head>
    <body>

        <div id="header">
            {{>header}}
        </div>

        <form action="/blog/post" method="post" class="generic_container">
            <label for="post_title" >Post Title:</label>
            <input type="text" id="post_title" name="post_title" autocomplete="off">
            <label for="post_body" >Post Body:</label>
            <textarea id="post_body" name="body" autocomplete="off" ></textarea>
            <input type="submit" class="fancy_button"  value="Post Article">
        </form>

        <div id="footer">
            {{>footer}}
        </div>

    </body>
</html>