<!DOCTYPE html>
<html>
    <head>
        <title>Cube Level Midnight</title>
        <link href="/css/styles.css" type="text/css" rel="stylesheet" />
    </head>
    <body>

        <div id="header">
            {{>header}}
        </div>
        
        <h2>{{error_message}}</h2>

        <div id="footer">
            {{>footer}}
        </div>

    </body>
</html>