<!DOCTYPE html>
<html>
    <head>
        <title>Cube Level Midnight</title>
        <link href="/css/styles.css" type="text/css" rel="stylesheet" />
    </head>
    <body>

        <div id="header">
            {{>header}}
        </div>
        
        <p>Welcome to Cube Level Midnight, {{account_name}}!</p>
        <p>Manage and draft your Magic the Gathering cube with your buds!</p>

        <h2>About this Site</h2>
        <p>There are two other fantastic sites that I know of which allow you to manage your cube, <a href="https://www.cubetutor.com">CubeTutor</a> and <a href="https://cubecobra.com/">CubeCobra</a>.  I myself used to use each of those sites and think they are both excellent.  So why build my own site?</p>
        <p>The main reason is that I wanted ways to increase a cube's variety without diluting the card pool.  Neither of those other sites, to my knowledge, provided a way to do that.  So I decided to build a site with two unique features, modules and rotations.</p>
        <h2>Modules</h2>
        <p>A module is a collection of cards that is not a part of the main cube.  The idea is that you design a "main board" for your cube and also several modules.  Then, whenever you draft the cube, you can select a handful of those modules and include them in the cardpool for that draft.  Modules are perfect for archetypes which are fun, but are also sort of parasitic and not something you want to be available to your drafters every time you sit down to cube.</p>
        <p>Examples of parasitic archetypes are storm and tribal decks; in order to build a successful deck, you need access to a high density of cards that provide little, if any, benefit to any other type of deck.  Only a storm deck is interested in cards like Empty the Warrens and only a Merfolk deck is interested in cards like Master of the Pearl Trident.  Not only do the types of cards those archetypes want have only fringe application in other decks, but those archetypes need a lot of similar cards in order to function properly.  A tribal deck that only has one lord is probably not going to win many games.  Even though these archetypes may be a lot of fun to play in constructed formats, they tend not to be a lot of fun to draft (just draft any merfolk card you see).  And if a cube designer opts to support such archetypes in his or her cube, he would have to commit dozens of precious card slots to a narrow strategy in order to make it viable.</p>
        <p>Modules allow you or your playgroup to try to draft a storm deck every now and then, while ensuring that the pool of more versatile cards such as Lightning Bolt doesn't get diluted.  Because cards in modules won't be a part of the card pool for every draft, modules inject more variety into your cube.  You can support more strategies and justify the inclusion of some fun but narrow cards.</p>
        <h2>Rotations</h2>
        <p>Let's say you have a handful of cards which are similar in function and mana cost and you can't decide which you would rather put in your cube.  You know that the effect they provide is not something you want a lot of and therefore you can't just include all of them.  For example, Boomerang, Into the Roil, Perilous Voyage, Repeal, Repulse, Snap, Sweep Away, Unexplained Disappearance, Unsubstantiate, Vapor Snag, Voyage's End and Wipe Away.  These cards are all cheap blue instants that return a creature (or spell or permanent) to its owner's hand (or places it back on top of its owner's library).  Each of these cards is slightly different and there isn't one which is best in all situations.  However, they are very similar and you can't devote 12 slots in your cube to this type of effect.</p>
        <p>This is the type of situation in which you should consider a rotation.  With a rotation, you specify a collection of cards, as well as a number which represents how many cards from that collection should be included in the card pool for each draft.  Going back to our example with the blue bouncing instants, if I chose 2 as the number, in one draft the card pool might include Unsubstantiate and Wipe Away and in the next draft, the card pool might instead contain Perilous Voyage and Sweep Away.</p>
        <p>Like modules, rotations allow you to increase the variety of experiences your cube offers without diluting its power.  Unlike modules, cards in the same rotation will generally not appear in the same draft.  However, you can guarantee that at least one card (or more) from each rotation will be included in each draft.</p>

        <div id="footer">
            {{>footer}}
        </div>

    </body>
</html>