<!DOCTYPE html>
<html>
    <head>
        <title>Cube Level Midnight</title>
        <link href="/css/styles.css" type="text/css" rel="stylesheet" />
    </head>
    <body>

        <div id="header">
            {{>header}}
        </div>

        <div id="create_cube">
            <h2>Create a new cube!</h2>
            <form action="/cubes/create" method="post">
                <label for="cube_name">Cube Name: </label>
                <input type="text" name="cube_name" id="cube_name" required autocomplete="off" maxlength="30" style="width: 21em;"><br>
                <label for="cube_description">Cube Description: </label>
                <textarea name="cube_description" id="cube_description" autocomplete="off" maxlength="300" rows="5" cols="60"></textarea>
                <input type="submit" value="Create This Cube!">
            </form>
        </div>

        <div id="existing_cubes">
            <h2>Existing Cubes:</h2>
            <div id="cube_links">
            {{#each cubes}}
                <h3><a href="/cubes/view-cube?cube_id={{this._id}}&cube_component=main_board">{{this.cube_name}}</a></h3>
            {{/each}}
            </div>
        </div>

        <div id="footer">
            {{>footer}}
        </div>

    </body>
</html>