{{>head}}
<body>
<!-- container section start -->
<section id="container" class="">
{{>header}}
{{>sidebar}}

  <section id="main-content">
    <section class="wrapper">
      <div class="row">
        <div class="col-lg-12">
          <h3 class="page-header"><i class="fa fa fa-bars"></i> Home</h3>
          <ol class="breadcrumb">
            <li><i class="fa fa-home"></i><a href="/">Home</a></li>
          </ol>
        </div>
      </div>
        <form action="/cubes/create" method="post" class="generic_container">
            <h2>Create a new cube!</h2>
            <label for="cube_name">Cube Name:</label>
            <input type="text" name="cube_name" id="cube_name" required autocomplete="off" maxlength="30"><br>
            <label for="cube_description">Cube Description:</label>
            <div >
                <textarea name="cube_description" id="cube_description" autocomplete="off" maxlength="300" rows="5" cols="60"></textarea>
                <input type="submit" class="fancy_button"  value="Create This Cube!">
            </div>
        </form>

        <div class="generic_container">
            <h2>Existing Cubes:</h2>
            <div id="cube_links">
            {{#each cubes}}
                <div ><a href="/cubes/view-cube?cube_id={{this._id}}&cube_component=main_board">{{this.cube_name}}</a></div>
            {{/each}}
            </div>
        </div>

      </section>
    </section>    
  </section>
  
  
  {{>footer}}
{{>foot}}


  