<!DOCTYPE html>
<html>
    <head>
        <title>Cube Level Midnight</title>
        <link href="/css/styles.css" type="text/css" rel="stylesheet" />
    </head>
    <body>

        <div id="header">
            {{>header}}
        </div>

        <form action="/cubes/create" method="post" class="generic_container">
            <h2>Create a new cube!</h2>
            <label for="cube_name" style="display: block; font-weight: bold;">Cube Name:</label>
            <input type="text" name="cube_name" id="cube_name" required autocomplete="off" maxlength="30" style="width: 21em;"><br>
            <label for="cube_description" style="display: block; font-weight: bold;">Cube Description:</label>
            <div style="display: inline-box; position: relative;">
                <textarea name="cube_description" id="cube_description" autocomplete="off" maxlength="300" rows="5" cols="60"></textarea>
                <input type="submit" class="fancy_button" style="height: fit-content; position: absolute; bottom: 5px;" value="Create This Cube!">
            </div>
        </form>

        <div class="generic_container">
            <h2>Existing Cubes:</h2>
            <div id="cube_links">
            {{#each cubes}}
                <div style="margin: 10px; padding: 10px;"><a href="/cubes/view-cube?cube_id={{this._id}}&cube_component=main_board">{{this.cube_name}}</a></div>
            {{/each}}
            </div>
        </div>

        <div id="footer">
            {{>footer}}
        </div>

    </body>
</html>