<!DOCTYPE html>
<html>
    <head>
        <title>Cube Level Midnight</title>
        <link href="/css/styles.css" type="text/css" rel="stylesheet" />
    </head>
    <body>

        <div id="header">
            {{>header}}
        </div>

        <div class="generic_container" style="height: 11.4vw; position: relative;">
            <div class="avatar_container large">
                <img src={{avatar}} class="avatar">
            </div>

            <form action="/users/change-account-name" method="post" id="change_account_name" style="margin-top: 0.65vw;" autocomplete="off">
                <div style="display: inline; font-size: calc(7/6 * 1vw); margin-left: 0.65vw;">Email:</div><div style="display: inline; font-size: calc(7/6 * 1vw); margin-left: 0.65vw;">{{email}}</div>
                <br>
                <label for="account_name">Account Name:</label>
                <input type="text" name="account_name" id="account_name" value="{{account_name}}" onchange="submitChangeAccountName()">
            </form>

            <form action="/users/logout" method="post" id="logout_button">
                <input type="submit" class="fancy_button" value="Logout">
            </form>
        </div>

        <form action="/users/change-avatar" method="post" id="change_avatar" class="generic_container" autocomplete="off" onsubmit="submitChangeAvatar()">
            <label for="card_to_search">Change Card Image Avatar:</label>
            <input type="text" name="card_to_search" id="card_to_search" list="card_results" onkeyup="scryfallCardSearch()" onchange="scryfallPrintSearch()" required>
            <datalist id="card_results">
            <!-- the search results from scryfall will populate here -->
            </datalist>
            <label for="selected_printing">Printing:</label>
            <select name="selected_printing" id="selected_printing" class="short" required>
            <!-- the available printings will populate here -->
            </select>
            <input type="hidden" name="image" id="image">
            <input type="submit" class="fancy_button" value="Change My Avatar!">
        </form>

        {{!-- <form action="/users/logout-all" method="post" style="display: inline; margin: 0.65vw;">
            <input type="submit" class="fancy_button" value="Logout of All Sessions">
        </form> --}}

        <div id="footer">
            {{>footer}}
        </div>

        <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.1.min.js"></script>
        <script src="/js/my-profile.js"></script>
    </body>
</html>