<!DOCTYPE html>
<html>
    <head>
        <title>Cube Level Midnight</title>
        <link href="/css/styles.css" type="text/css" rel="stylesheet" />
    </head>
    <body>

        <div id="header">
            {{>header}}
        </div>

        <div class="generic_container" style="height: 174px; position: relative;">
            <div class="avatar_container" style="height: 150px; margin: 10px; width: 150px;">
                <img src={{avatar}} class="avatar">
            </div>

            <form action="/users/change-account-name" method="post" id="change_account_name" style="margin-top: 10px;" autocomplete="off">
                <div style="display: inline; margin-left: 10px;">Email:</div><div style="display: inline; margin-left: 10px;">{{email}}</div>
                <br>
                <label for="account_name">Account Name:</label>
                <input type="text" name="account_name" id="account_name" value="{{account_name}}" onchange="submitChangeAccountName()">
            </form>

            <form action="/users/logout" method="post" style="position: absolute; bottom: 10px; left: 180px;">
                <input type="submit" class="fancy_button" value="Logout">
            </form>
        </div>

        <form action="/users/change-avatar" method="post" id="change_avatar" class="generic_container" autocomplete="off" onsubmit="submitChangeAvatar()">
            <label for="card_to_search">Change Card Image Avatar:</label>
            <input type="text" name="card_to_search" id="card_to_search" list="card_results" style="width: 21em;" onkeyup="scryfallCardSearch()" onchange="scryfallPrintSearch()" required>
            <datalist id="card_results">
            <!-- the search results from scryfall will populate here -->
            </datalist>
            <label for="selected_printing">Printing:</label>
            <select name="selected_printing" id="selected_printing" style="width: 5em;" required>
            <!-- the available printings will populate here -->
            </select>
            <input type="hidden" name="image" id="image">
            <input type="submit" class="fancy_button" value="Change My Avatar!">
        </form>

        {{!-- <form action="/users/logout-all" method="post" style="display: inline; margin: 10px;">
            <input type="submit" class="fancy_button" value="Logout of All Sessions">
        </form> --}}

        <div id="footer">
            {{>footer}}
        </div>

        <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.1.min.js"></script>
        <script src="/js/my-profile.js"></script>
    </body>
</html>