<!DOCTYPE html>
<html>
    <head>
        <title>Cube Level Midnight</title>
        <link href="/css/styles.css" type="text/css" rel="stylesheet" />
    </head>
    <body>

        <div id="header">
            {{>header}}
        </div>

        <table width="50%">
            <tr class="header_row">
                <th width="30%">User Name</th>
                <th width="20%">Send Bud Request</th>
            </tr>
            {{#each matching_users}}
            <tr>
                <td>
                    <div class="avatar_container" style="height: 100px; width: 100px;">
                        <img src={{this.avatar}} class="avatar">
                    </div>
                    {{this.account_name}}
                </td>
                <td>
                    <form action="/users/send-bud-request" method="post">
                        <input type="hidden" name="potential_bud_id" value={{this._id}}>
                        <input type="submit" class="button_as_link" value="Send Bud Request">
                    </form>
                </td>
            </tr>
            {{/each}}
        </table>

        <div id="footer">
            {{>footer}}
        </div>

        <script src="/js/my-cubes.js"></script>
    </body>
</html>