<!-- this element previews the card image(s) as the user hovers over its name -->
<div id="card_image_container" style="display: none; position: absolute;">
    <img id="card_image" src="" style="height: 285px; z-index: 1000; display: none;">
    <img id="card_back_image" src="" style="height: 285px; z-index: 1000; display: none;">
</div>