<a href="/users/my-profile">My Profile</a>
<a href="/cubes/my-cubes">My Cubes</a>
<a href="/users/my-buds">My Buds</a>
<a href="/draft">Draft</a>
<a href="/blog">Blog</a>
<a href="/">Home</a>

<h1>Cube Level Midnight</h1>
<h2>{{title}}</h2>