<ul class="sub" style="overflow: hidden; display: block;">
  <li><a href="/users/my-profile">My Profile</a></li>
  <li><a href="/cubes/my-cubes">My Cubes</a></li>
  <li><a href="/users/my-buds">My Buds</a></li>
  <li><a href="/draft">Draft</a></li>
  <li><a href="/blog">Blog</a></li>
  <li><a href="/">Home</a></li>
</ul>
