<!-- this element pops out and defines a term when the user hovers over certain elements on a page -->
<div id="term_definition_container" style="display: none; position: absolute;">
    <p id="term_definition" style="display: none; z-index: 1000;"></p>
</div>